{% extends "base.html" %}

{% load static %}
{% block title %}Price Plans{% endblock %}
{% block script %}<script src="{% static 'script.js' %}"></script>{% endblock %}

{% load crispy_forms_tags %}

{% block price %}

<section class="section-padding">
  <div class="container section-padding">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Our Pricing Plans</h2>
          <p>We offer a wide variety of packages<br>
          for a whole bunch of different sports</p>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="pricing-table section-padding">
      <div class="plan">
        <h2>Profi-Paket</h2>
        <div class="generic_price_tag clearfix">	
          <span class="price">
            <span class="sign">€</span>
            <span class="currency">19</span>
            <span class="cent">.99</span>
            <span class="month">/MON</span>
          </span>
        </div>
        <ul>
          <li><span style="color: #ffc107;">✓ </span>Football Analysis (default)</li>
          <li><span style="color: #ffc107;">✓ </span>Additional Sports 2.99€ each</li>
          <li><span style="color: #ffc107;">✓ </span>Email Support</li>
          <li><span style="color: #ffc107;">✓ </span>Private Discord channel</li>
        </ul>
        <label>Choose sports:</label>
        {% if user.is_authenticated %}
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div id="sports" class="checkbox-container">
            <label class="custom-checkbox" title="Coming soon">
              <input type="checkbox" name="football" value="football" onclick="updatePrice()">
              <span class="checkmark"></span> Football</label>
            <label class="custom-checkbox disabled" title="Coming soon">
              <input type="checkbox" name="basketball" value="basketball" onclick="updatePrice()">
              <span class="checkmark"></span> Basketball</label>
            <label class="custom-checkbox disabled" title="Coming soon">
              <input type="checkbox" name="tennis" value="tennis" onclick="updatePrice()">
              <span class="checkmark"></span> Tennis</label>
          </div>
          <button type="submit" class="btn btn-light" name="get_profi_paket" value="get_profi_paket"><i class="bi bi-bag" style="font-size: 1rem;">Get Profi-Paket!</i></button>
          <p id="price">Total Price: €19.99</p>
        </form>
        {% else %}
          <!-- redirect to login page -->
          <p>You are not logged in. Login <a href="/login/">here</a> to be able purchase the package.</p>
        {% endif %}
      </div>
      <div class="plan highlighted">
        <h2>Premium-Paket</h2>
        <div class="generic_price_tag clearfix">	
          <span class="price">
            <span class="sign">€</span>
            <span class="currency">29</span>
            <span class="cent">.99</span>
            <span class="month">/MON</span>
          </span>
        </div>
        <ul>
          <li><span style="color: #ffc107;">✓ </span>Everything from Profi-Paket</li>
          <li><span style="color: #ffc107;">✓ </span>Priority for new feature requests</li>
          <li><span style="color: #ffc107;">✓ </span>Early accesss to new features/sports(e.g. UFC and Skateboarding)</li>
          <li><span style="color: #ffc107;">✓ </span>Full privacy: zero data retention policy (Optional)</li>
        </ul>
        {% if user.is_authenticated %}
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-light" name="get_premium_paket" value="get_premium_paket" width="180" height="50"><i class="bi bi-bag-fill" style="font-size: 1rem;">Get Premium-Paket!</i></button>
          </form>
        {% else %}
          <!-- redirect to login page -->
          <p>You are not logged in. Login <a href="/login/">here</a> to be able purchase the package.</p>
        {% endif %}
      </div>
      <div class="plan">
        <h2>Enterprice</h2>
        <div class="generic_price_tag clearfix">	
          <span class="price">
            <span class="sign">€</span>
            <span class="currency">XX</span>
            <span class="cent">.XX</span>
            <span class="month">/MON or /YEAR</span>
          </span>
        </div>
        <ul>
          <li><span style="color: #ffc107;">✓ </span>You define it</li>
          <li><span style="color: #ffc107;">✓ </span>Unlimited minutes of game analysis</li>
          <li><span style="color: #ffc107;">✓ </span>Custom Small-Niche-Sports requests</li>
          <li><span style="color: #ffc107;">✓ </span>On-Premise App support</li>
        </ul>
        <p class="lead"> Contact us for pricing plan tailored to your need -> contect@sportcasterai.com</p>
        <!-- <button>Sign Up</button> -->
      </div>
    </div>
  </div>
</section>
{% endblock %}
